.total-count {
    background: #5692ff;
}

.month-login {
    background: #2828cc;
}

.login-today {
    background: #990399;
}

.board {
    text-align: center;
    height: 100px;
    padding: 30px;

    &:not(:first-child) {
        margin-top: 2%;
    }
}

.count {
    color: #ffffff;
    font-size: 3em;
    font-weight: 700;
}

.description {
    color: #ffffff;
    margin-top: 2%;
    font-weight: 500;
    font-size: 1.2em;
}
