<div class="container">
  <div class="article-id">
    <div class="field-container">
      <mat-form-field class="full-width">
        <mat-label>Article ID</mat-label>
        <input
          name="articleId"
          placeholder="Enter Article Id"
          matInput
          [(ngModel)]="articleId"
          [disabled]="articleData?.isEdit ?? false"
        />
      </mat-form-field>
      <mat-error *ngIf="articleError">Invalid Article ID</mat-error>
    </div>
    <div class="btn-container">
      <button
        mat-stroked-button
        (click)="getMeredithArticle()"
        [disabled]="articleData?.isEdit"
      >
        Fetch Article
      </button>
    </div>
  </div>
  <div *ngIf="isArticleLoaded">
    <div class="row">
      <div class="col col-sm-12 col-md-6 col-lg-6">
        <mat-form-field class="full-width">
          <mat-label>English Title</mat-label>
          <input
            name="enMeredithTitle"
            placeholder="Enter Article Title"
            matInput
            [(ngModel)]="articleData.en.title"
          />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Spanish Title</mat-label>
          <input
            name="esMeredithTitle"
            placeholder="Enter Article Title"
            matInput
            [(ngModel)]="articleData.es.title"
          />
        </mat-form-field>
        <div
          *ngIf="articleData.en.brandLogo && articleData.en.brandLogo !== ''"
        >
          <div class="mb-2">
            <mat-label><strong>Preview of the selected/fetched brand logo</strong></mat-label>
            <div class="img-background">
              <img
                [src]="getBrandLogo()"
                [alt]="articleData.en.brand"
              />
            </div>
          </div>

          <label><strong>Select Brand Image </strong><span class="indicator">- Please select transparent logo to appear in Article detail screen.</span></label>
          <app-image-picker
            [imageList]="imageData"
            [imageType]="iconType"
            [imagePicked]="getPartnerImage()"
            (onPickingImage)="handleBrandLogo($event)"
            class="partner-picker"
          ></app-image-picker>
        </div>
      </div>
      <div class="col col-sm-12 col-md-6 col-lg-6">
        <div *ngIf="articleData.en.thumbnail && articleData.en.thumbnail != ''">
          <img [src]="articleData.en.thumbnail" alt="articleData.en.title" />
        </div>
        <div
          *ngIf="articleData.en.video == ''"
          [innerHTML]="articleData.en.description"
          id="meredith-description"
        ></div>
        <div *ngIf="articleData.en.video != ''">
          <a [href]="articleData.en.video" target="_blank">{{
            articleData.en.video
          }}</a>
        </div>
      </div>
    </div>
  </div>
  <button
    mat-raised-button
    color="primary"
    class="create-btn"
    [disabled]="enableCreateArticle()"
    (click)="createArticle()"
  >
    {{ articleData?.isEdit ? 'Update Article' : 'Create Article' }}
  </button>
</div>
