<div class="row p-5">
  <div class="col-12 col-md">
    <img
      class="mb-2"
      src="assets/img/logo/SydneyCommunityLogo.svg"
      alt=""
      width="150"
      height="100"
    />
    <small class="d-block mb-3 text-muted">© {{ financialYearInfo }}</small>
  </div>
  <div class="col-6 col-md">
    <h5>Features</h5>
    <ul class="list-unstyled text-small">
      <li><a class="text-muted" href="#">Create community</a></li>
      <li><a class="text-muted" href="#">Create prompt</a></li>
      <li><a class="text-muted" href="#">Create push notification</a></li>
      <li><a class="text-muted" href="#">Create community</a></li>
      <li><a class="text-muted" href="#">Another one</a></li>
      <li><a class="text-muted" href="#">Last time</a></li>
    </ul>
  </div>
  <div class="col-6 col-md">
    <h5>Resources</h5>
    <ul class="list-unstyled text-small">
      <li><a class="text-muted" href="#">Resource</a></li>
      <li><a class="text-muted" href="#">Resource name</a></li>
      <li><a class="text-muted" href="#">Another resource</a></li>
      <li><a class="text-muted" href="#">Final resource</a></li>
    </ul>
  </div>
  <div class="col-6 col-md">
    <h5>About</h5>
    <ul class="list-unstyled text-small">
      <li><a class="text-muted" href="#">Team</a></li>
      <li><a class="text-muted" href="#">Locations</a></li>
      <li><a class="text-muted" href="#">Privacy</a></li>
      <li><a class="text-muted" href="#">Terms</a></li>
    </ul>
  </div>
</div>
