.pad-r-8  {
    padding-right: 8px;
}

.mat-button-toggle-standalone.mat-button-toggle-appearance-standard, .mat-button-toggle-group-appearance-standard {
    border-radius: 0px;
}

.member-type-filter {
    padding-top: 10px;
}

#metrics-data {
    padding: 2%;
}

.mr-10 {
    margin-right: 10px;
}

.error-container {
    margin: 2rem;
    padding: 2rem;
    background-color: #edaeae;
    border: 3px solid #ed6f6f;
    border-radius: 10px;
    text-align: center;
    font-size: 1.35rem;
    font-weight: 400;
}