@import '../pages.component.scss';
@import '../admin/admin.component.scss';

.sub-content {
  background-color: #fffeff;
  padding: 1.5rem;
  margin-bottom: 5px;
  border: 1px solid #d2acff;
  box-shadow: 2px 3px 3px #e4e4e4;
}

.heading {
  font-size: 20px;
  font-weight: 600;
}

.btn-container {
  display: inline-flex;
  padding: 1.5rem;

  button {
    margin-right: 12px;
  }
}

.center {
  text-align: center;
}

.step {
  color: #7707e0;
}

.top-margin {
  margin-top: 2rem;
}

.icon-holder {
  display: flex;
  place-content: space-evenly;
}

.title {
  font-size: 16px;
  font-weight: 400;
}

.section-modal {
  max-width: 60%;
}

.inline-icon {
  align-items: center;
  padding-right: 30px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  background: #edeaea;
  box-shadow: 0 2px 3px -3px #dbdada, 0 5px 7px 1px #cac8c8,
    0 3px 10px 1px #c1c1c1;
  min-height: 80px;
}

.cdk-drag-placeholder {
  background: #7402df;
  border: dotted 2px #4b048e;
  min-height: 80px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
