@import '../../pages.component.scss';

.image-preview {
  display: flex;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: scroll;
  padding: 0.5rem;
  background-color: #fdfdfd;
  border: 2px solid #eee;

  .image-holder {
    text-align: center;
    scroll-snap-align: center;
    width: 202px;
    height: 202px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px;
    cursor: pointer;
  }
}

.disable-click {
  pointer-events: none;
  opacity: 0.5;
  overflow-x: hidden;
}

.post-setting {
  margin-top: 10px;
  margin-bottom: 10px;
}

img {
  max-width: 200px;
  max-height: 200px;
}

[type='radio'] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type='radio']:checked + img {
  outline: 2px solid rgb(68, 68, 253);
}

.info {
  color: #12061d;
  font-weight: 500;
  font-size: 1.25em;
  text-transform: uppercase;
  margin: 0.75em 0;
}

.sub-header {
  font-size: 1em;
  font-weight: 500;
  color: #e5328c;
}

.upload-img {
  display: flex;
  align-items: center;
}