<div *ngIf="displayAddPartner">
  <add-partner-modal
    [displayModal]="displayAddPartner"
    (onClose)="showCloseModal()"
    (onAdd)="onAddPartner()"
    [partnerData]="selectedPartnerData"
  ></add-partner-modal>
</div>

<div class="form-container view">
  <div class="row p-2">
    <div class="col" *ngIf="partners.length > 0">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Filter By:</mat-label>
        <mat-select [(value)]="filterBy" (valueChange)="setPartners()">
          <mat-option value="all">All Partners</mat-option>
          <mat-option value="meredith">Meredith</mat-option>
          <mat-option value="OtherPartner">Other partners</mat-option>
          <mat-option value="active">Only Active</mat-option>
          <mat-option value="inactive">Only Inactive</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col">
      <div class="d-flex justify-content-center m-2">
        <button mat-stroked-button color="primary" (click)="addNewPartner()">
          <mat-icon color="primary">add</mat-icon>Partner Logos
        </button>
      </div>
    </div>
  </div>

  <div class="container">
    <div *ngIf="partners.length > 0">
      <div class="row">
        <div
          *ngFor="let partner of filterPartners"
          class="col-sm-12 col-md-8 col-lg-6 mt-2"
        >
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header
              [ngClass]="{
                'active-partner': partner?.active,
                'inactive-partner': !partner?.active
              }"
            >
              <mat-panel-title>
                {{ partner.title }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col">
                <div class="content">
                  <img
                    [src]="partner?.logoImage"
                    [alt]="partner.title + ' logo'"
                  />
                  <div class="article-title"><em>Brand Logo</em></div>
                </div>
              </div>
              <div class="col" *ngIf="partner?.articleImage">
                <div class="article-logo">
                  <img
                    [src]="partner?.articleImage"
                    [alt]="partner.title + ' logo'"
                  />
                  <div class="article-title"><em>Article Logo</em></div>
                </div>
              </div>
            </div>
            <mat-action-row>
              <div class="status">
                Status:
                <span
                  [ngClass]="{
                    'active-partner-text': partner.active,
                    'inactive-partner-text': !partner.active
                  }"
                  >{{ partner.active ? 'Active' : 'Inactive' }}</span
                >
              </div>
              <button
                mat-stroked-button
                color="primary"
                (click)="editData(partner)"
              >
                Edit
              </button>
            </mat-action-row>
          </mat-expansion-panel>
        </div>
      </div>
    </div>

    <mat-card *ngIf="partners.length === 0" class="m-5 info">
      Click on Add Partner to create a new partner logo.
    </mat-card>
  </div>
</div>
