<div class="container">
  <div class="row mt-4">
    <div class="col-sm-12 col-md-4 col-lg-3">
      <active-user-board></active-user-board>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-6">
      <new-users-chart></new-users-chart>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3">
      <quick-links></quick-links>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <latest-posts></latest-posts>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <community-activity-chart></community-activity-chart>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8">
        <user-type-chart></user-type-chart>
    </div>
  </div>
</div>
