.form-container {
  margin: 16px 24px;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid gray;
}

.view {
  overflow-y: auto;
  height: calc(100vh - 170px);
}

.mat-header-cell {
  color: #000000;
  font-size: 14px;
}

.mat-cell {
  font-size: 14px;
  overflow: hidden;
  padding-right: 12px;
}

.mat-cell:first-of-type {
  padding-left: 12px;
}

.index-width {
  width: 20px;
}

.index-text {
  padding-left: 12px;
}

.color-code {
  width: 10px;
}

.mat-column-colorCode {
  flex: 0 0 0.1% !important;
}

.mat-column-index {
  flex: 0 0 3% !important;
  margin-right: 10px;
}

.mat-cell-index {
  padding-left: 50px;
}

.mat-column-title{
  flex-basis: 15%;
}

.mat-column-body{
  flex-basis: 15%;
}

.mat-column-date{
  flex-basis: 15%;
}

.mat-column-deepLink{
  flex-basis: 15%;
}


.mat-column-community{
  flex-basis: 12%;
  flex-wrap: wrap;
}


.mat-column-audience{
  flex-basis: 12%;
}

.mat-column-status{
  flex-basis: 7%;
}

.mat-column-action {
  flex-basis: 10%;
}
.action-title{
  padding-left: 10px;
}

.mat-column-author{
  flex-basis: 10%;
}
.pagination {

  justify-content: right;
  background-color: #fff;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 12px;
  color: #0000008a;

}

.page-select {
  margin-top: 5px;
  padding-right: 2em;
}

.pagination .mat-form-field {
  width: 3em;
}

.modal-body {
  padding: 0% 0% 0% 2%;
}

.modal-dialog {
  max-width: 80%;
}

.span-color{
  flex: 1;
  padding-left: 25%;
}

.modal {
  background-color: rgba(51, 51, 51, 0.8);
  z-index: 99999;
  position: fixed;
  opacity: 1;
}

.status-color-label{
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-top: 10px;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 12px;
  color: #0000008a;
}

.status-color-info{
  display: flex;
  justify-content: center;
}

.color-box{
  width:10px;
  height: 10px;
  background: red;
  margin-right: 3px;
}
.footer-container{
  display: flex;
  justify-content:space-between;
  background-color: #fff;
  align-items: center;
  padding:0 40px
}

.pn-view-modal-container{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}


.pn-view-modal{
  background-color: #fff;
  border-radius: 10px;
  max-width:80%
}

.view-table{
display: flex;
align-items: center;
justify-content: center;
padding:50px 150px 100px 150px;

table{
  border-collapse: collapse;
  justify-content: center;
  width: 900px;
  }
  
  th,td{
    border: 1px solid #dddddd;
    padding: 12px;

  }

  th{
    font-size: 18px;
    color: dimgray;
    text-align: center;
  }
  
  tr:nth-child(even){
    background-color: #dddddd;
  }
}


.close-button{
  display: flex;
  justify-content: flex-end;
}

