<mat-card class="mt-3" *ngIf="isDataLoaded">
    <h2>User Market Breakdown</h2>
    <div class="row">
        <div class="col">
            <canvas
                baseChart
                [type]="'pie'"
                [data]="pieChartData"
                [options]="pieChartOptions"
                [legend]="true"
            >
            </canvas>
        </div>
        <div class="col">
            <canvas
                baseChart
                [type]="'pie'"
                [data]="medicaidChartData"
                [options]="medicaidChartOptions"
                [legend]="true"
            >
            </canvas>
        </div>
    </div>
</mat-card>
